.estimate-row{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
}
.estimate-column-names{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;

}
.totals-sub-box{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px
}

.project-running-totals-box{
  display: block;
  border: 5px black solid;
  width: 50%;
  /* float: right; */
}